[submodule "Mega-NJ-Task"]
	path = Mega-NJ-Task
	url = https://github.com/WorkflowCenter-Repositories/Mega-NJ-Task.git
[submodule "SAMTools-Picard-Task"]
	path = SAMTools-Picard-Task
	url = https://github.com/WorkflowCenter-Repositories/SAMTools-Picard-Task.git
[submodule "ImportFile-Task"]
	path = ImportFile-Task
	url = https://github.com/WorkflowCenter-Repositories/ImportFile-Task.git
[submodule "ZipFile-Task"]
	path = ZipFile-Task
	url = https://github.com/WorkflowCenter-Repositories/ZipFile-Task.git
[submodule "ImportDir-Task"]
	path = ImportDir-Task
	url = https://github.com/WorkflowCenter-Repositories/ImportDir-Task.git
[submodule "ExportFiles-Task"]
	path = ExportFiles-Task
	url = https://github.com/WorkflowCenter-Repositories/ExportFiles-Task.git
