[submodule "Mega-NJ-Task"]
	path = Mega-NJ-Task
	url = https://github.com/WorkflowCenter-Repositories/Mega-NJ-Task.git
[submodule "SAMTools-Picard-Task"]
	path = SAMTools-Picard-Task
	url = https://github.com/WorkflowCenter-Repositories/SAMTools-Picard-Task.git
